DINGTALK_CLIENT_ID=
DINGTALK_CLIENT_SECRET=
DINGTALK_CORP_ID=
DINGTALK_ROBOT_CODE=
CARE_API_ORIGIN=https://mindbridge-beta.pages.dev
H5_ORIGIN=https://mindbridge-beta.pages.dev
BOT_RELAY_TOKEN=
# Independent 32-byte base64 key. Generate: openssl rand -base64 32
BOT_INBOX_KEY=
BOT_DATA_DIR=./data
